{{ " " }}
<div class="card" data-style="{{ include.style }}">
  
  <div class="card-text">
    {% if include.title %}
      <a
        {% if include.link %}
          href="{{ include.link | relative_url }}"
        {% endif %}
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip }}"
        {% endif %}
        class="card-title"
        style="text-decoration: none;"
      >
        {{ include.title }}
      </a>
    {% endif %}

  <a
      {% if include.link %}
        href="{{ include.link | relative_url }}"
      {% endif %}
      aria-label="{{ include.title | default: "card link" }}"
      class="card-image"
  >
    <img
      src="{{ include.image | relative_url }}"
      alt="{{ include.title | default: "card image" }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>
    
    {% if include.description %}
      {{ include.description | markdownify }}
    {% endif %}
  </div>

{% include button.html type="email" text="Read more" link="{{ include.link | relaive_url }}" %}
  
</div>

