{{ " " }}
<div class="card" data-style="{{ include.style }}">
  
  <div class="card-text">
    {% if include.title %}
         {{ include.title }}
    {% endif %}

  <a
      {% if include.link %}
        href="{{ include.link | relative_url }}"
      {% endif %}
      aria-label="{{ include.title | default: "card link" }}"
      class="card-image"
  >
    <img
      src="{{ include.image | relative_url }}"
      alt="{{ include.title | default: "card image" }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>
    
    {% if include.description %}
      {{ include.description | markdownify }}
    {% endif %}

    {% capture link_url %}{{ include.link | relative_url }}{% endcapture %}
    {% include button.html text="Read more" link=link_url %}
    
    </div>
</div>

