<div class="citation">
  {% if include.style == "rich" %}
    <a
      {% if news.link %}
        href="{{ news.link | relative_url }}"
      {% endif %}
      class="citation-image"
      aria-label="{{ news.title | default: 'news link' }}"
    >
         {% if news.image %}
          <img src="{{ news.image }}">
         {% endif %}
    </a>
  {% endif %}

  <div class="citation-text">
    <div class="citation-title">{{ news.title | default: "[no title info]" }}</div>

    <div class="citation-authors">
      <i>{{ news.venue | default: "[no venue info]" }}</i>
      &nbsp; · &nbsp;
      {{ news.date | default: "[no date info]" | date: "%d %b %Y" }}
      <br>{{ news.preview }}<a href="{{ news.link }}" style="text-decoration: none" target="_blank"> read more</a><br>
    </div>
    
  </div>
</div>
