---
layout: default
---

<div class="project">

  <h1 align="center">
    {% if page.solid %}
      {% include icon.html icon=page.solid %}
    {% endif %}{{ page.title }}
  </h1>
  <p align="justify">{{ page.description | markdownify }}</p>
  
  {% if page.subtitle %}
    <h2 align="center">{{ page.subtitle }}</h2>
  {% endif %}

  {% if page.image %}
    <table id="myTable" class="smalltable">
      <tr>
        <td>
          <img id="projectImg" style="border-radius: 8px; cursor: pointer; transition: 0.3s;" width="100%" height="100%" src="{{ page.image | relative_url }}" alt="{{ page.title }}" onclick="enlargeImg()">
        </td>
      </tr>
      <tr>
        <td align="center">
          <figcaption><i>{{ page.figcaption | default: 'Project Image' }}</i></figcaption>
        </td>
      </tr>
    </table>
  {% endif %}

  <div align="justify">
    {{ content | markdownify }}
  </div>
</div>

{% include button.html icon="fa-solid fa-arrow-left" text="Back to Research Overview" link="https://cregglab.github.io/research/" %}

<script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="{{ '/_scripts/enlarge.js' | relative_url }}"></script>
<!-- Add any other scripts you need for this page -->

<style>
  body {font-family: Arial, Helvetica, sans-serif;}

  tr, td {
    border: none;
  } 

  figcaption {
    margin-bottom: 0.5em;
    color: #777a7d;
    font-family: Georgia, Times, serif;
    font-size: .75em;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
  }
  
  .smalltable {
    border-collapse: collapse; 
    border: none;
    width: 27%; 
    margin: 1px 20px 10px 0; 
    float: left;
  }

  .largetable {
    border-collapse: collapse; 
    border: none;
    width: 60%;
    float: left;
    margin: 1px 20px 10px 0;
  }

  #projectImg:hover {opacity: 0.6;}
</style>
