---
layout: default
---

<div class="project">

  <h1 align="center">{{ page.title }}</h1>
  {% if page.subtitle %}
    <h2 align="center">{{ page.subtitle }}</h2>
  {% endif %}

  <p align="justify">{{ page.description | markdownify }}</p>

  {% if page.image %}
    <table id="myTable" class="smalltable">
      <tr>
        <td>
          <img id="projectImg" style="border-radius: 8px; cursor: pointer; transition: 0.3s;" width="100%" src="{{ page.image | relative_url }}" alt="{{ page.title }}" onclick="enlargeImg()">
        </td>
      </tr>
      <tr>
        <td align="center">
          <figcaption><i>{{ page.figcaption | default: 'Project Image' }}</i></figcaption>
        </td>
      </tr>
    </table>
  {% endif %}

  <div align="justify">
    {{ content | markdownify }}
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://jmcregg.github.io/enlarge.js"></script>
<!-- Add any other scripts you need for this page -->

<style>
  body {font-family: Arial, Helvetica, sans-serif;}

  tr, td {
    border: none;
  } 
  
  .smalltable {
    border-collapse: collapse; 
    border: none;
    width: 27%; 
    margin: 1px 20px 10px 0; 
    float: left;
  }

  .largetable {
    border-collapse: collapse; 
    border: none;
    width: 60%;
    float: left;
    margin: 1px 20px 10px 0;
  }

  #projectImg:hover {opacity: 0.6;}
</style>
